@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1.25rem;
    font-weight: 600;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;

    svg {
        width: 20px;
        height: 20px;
    }

    span {
        display: inline-block;
    }

    &--primary {
        color: $tint-11;
        background-color: $blue-4;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $blue-6;
        }
        &:active {
            background: $slate-gray-0;
        }
    }

    &--secondary {
        color: $tint-11;
        background-color: $green-6;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $green-7;
        }
        &:active {
            background: $slate-gray-0;
        }
    }


    &--outline {
        background: transparent;
        border: 2px solid $green-6;
        color: $green-6;

        &:hover {
            background: $green-6;
            color: $tint-11;
        }
        &:active {
            background: $green-6;
        }
    }

    &--ghost {
        background: transparent;
        color: $slate-gray-0;

        &:hover {
            background: $tint-1;
        }
        &:active {
            background: $tint-2;
        }
    }

    &--solution {
        color: $tint-11;
        background-color: $green-6;
        transition: all 0.3s ease;

        animation: pulsate-green 2s infinite;

        &:hover {
            background-color: $green-6;
            animation: pulsate-green 0.5s infinite;
            transform: scale(1.05);
        }

        &:active {
            background: $slate-gray-0;
        }
    }

    &--disabled,
    &:disabled {
        background: $shade-5;
        color: $shade-10;
        cursor: not-allowed;
        opacity: 0.6;
    }

    &:focus {
        outline: 2px solid $blue-4;
        outline-offset: 2px;
    }
}
